@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
}

hr{
    margin: 1.5rem 0;
}
.link{
    text-decoration: none;
    padding: 1rem;

}

.link-primary{
    color:white;
    background-color: blueviolet;
    border-radius: 0.5rem;
    border: 2px solid;
    border-color: black;

}

.link-secondary{
    color:red;
    background-color:white;
    border-radius: 0.5rem;
    border: 1px solid;     
}

.list-no-bullets{
    text-decoration: none;
}

a .link .active .on-click{
    

}