@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
}

root{
    --primary-color:blueviolet;
    --secondary-color:white;
    
}
hr{
    margin: 1.5rem 0;
}

/* Decorating containers */
.container
{
    padding-left: 1rem;
    padding-right: 1rem;
    

}

.container-center
{
    max-width: 600px;
    margin: auto;
}


/* Decorating links */
.link{
    text-decoration: none;
    padding: 0.7rem;
}
.link-primary{
    color:white;
    background-color:blueviolet;
    border-radius: 0.5rem;
    border: 2px solid;
    border-color: black;
}
.link-secondary{
    color:red;
    background-color:white;
    border-radius: 0.5rem;
    border: 1px solid;     
}

/* Lists */

.list-non-bullets{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

/* Decorating Navigation */
.navigation{
    background-color: blueviolet;
    color:white;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-bottom-left-radius: 1rem ;
}


.navigation .nav-brand{
    font-weight: bold; 
}
.navigation .nav-pills{
    text-align: right; 
}

.navigation .link{
    color: yellow;
    list-style: none;
    padding: 1rem 1rem 1rem 1rem;
    text-align: ;

}

/* Decorationg Header section */
.hero .hero-img{
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin: auto;
}
.hero .hero-heading{
    font-size: x-large;
    color: gray;
    padding: 1rem;
}

.hero .hero-heading .web-devloper{
    color:var(--primary-color);
}

/* Decorating section */
.sectioned h3{
    text-align: center;
    padding: 1.2rem;
}
.ow{
    text-align: center;
    padding: 2rem;
    background-color:grey;
}

/*  */
.footer {
    padding: 2rem 1rem;
    color: yellow;  
     background-color: blueviolet;
    border-top-right-radius: 1rem;
    
}

.footer-heading{
    color: white;
    text-align: center;
}

.footer ul{
    text-align: center;
}